.faq {
  background-color: #eee;
  padding: 0 16px;
  border-radius: 32px;
  margin: 16px auto 16px;
  max-width: 560px;
}

.question {
  display: flex;
  justify-content: space-between;
}

.detail {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #b0bec5;
  }
}

.answer {
  border-top: 1px solid #878787;
  padding-bottom: 4px;
}
